<section>
  <div class="container" style="padding-top: 8rem">
    
    <div class="row">
        <div class="section-header wow fadeInUp">
            <h3>How I pay for my plan</h3>
          </div>
      	<aside class="col-sm-10">
            <article class="card">
            <div class="card-body p-5">
            
            <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#nav-tab-bank">
                    <i class="fa fa-university"></i>  Bank Transfer</a></li>
              <li class="nav-item">
                <a class="nav-link " data-toggle="pill" href="#nav-tab-cash">
                <i class="fa fa-credit-card"></i> Pay by cash</a></li>
              <!-- <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
                <i class="fab fa-paypal"></i>  Paypal</a></li> -->
              
            </ul>
            
            <div class="tab-content">
                <div class="tab-pane fade show active" id="nav-tab-bank">
                    <p>Bank account details</p>
                    <dl class="param">
                      <dt>BANK: </dt>
                      <dd> Commercial Bank </dd>
                    </dl>
                    <dl class="param">
                      <dt>Account number: </dt>
                      <dd> 12345678912345</dd>
                    </dl>
                    <dl class="param">
                      <dt>Total cost: </dt>
                      <dd> {{totalCost}} /=</dd>
                    </dl>
                    <p><strong>Note:</strong> Direct deposit to mentioned bank account and send us to copy of the recipt via viber, whatsup,imo or message </p>
                    </div> <!-- tab-pane.// -->
                    <div class="tab-pane fade" id="nav-tab-cash">
                        <p>Directly come to our office and pay by cash and market your business</p>
                        <div class="row contact-info">
  
                            <div class="col-md-10">
                              <div class="contact-address">
                                  <dl class="param">
                                      <dt>Total cost: </dt>
                                      <dd> {{totalCost}} /=</dd> 
                                    </dl>
                                <!-- <i class="ion-ios-location-outline"></i> -->
                                <h3>Office</h3>
                                <address>No 210, Aluthhena rd, Amandoluwa, Seeduwa, SRI LANKA</address>
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="contact-phone">
                                  <!-- <i class="ion-ios-telephone-outline"></i> -->
                                  <h3>Phone Number</h3>
                                  <p><a href="tel:+155895548855">+94 762199100</a></p>
                                </div>
                              </div>
                            </div>
                        <!-- <p><strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. </p> -->
                        </div> 
            <!-- <div class="tab-pane fade" id="nav-tab-card">
              <form role="form">
              <div class="form-group">
                <label for="username">Full name (on the card)</label>
                <input type="text" class="form-control" name="username" placeholder="" required="">
              </div> 
            
              <div class="form-group">
                <label for="cardNumber">Card number</label>
                <div class="input-group">
                  <input type="text" class="form-control" name="cardNumber" placeholder="">
                  <div class="input-group-append">
                    <span class="input-group-text text-muted">
                      <i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>   
                      <i class="fab fa-cc-mastercard"></i> 
                    </span>
                  </div>
                </div>
              </div> 
            
              <div class="row">
                  <div class="col-sm-8">
                      <div class="form-group">
                          <label><span class="hidden-xs">Expiration</span> </label>
                        <div class="input-group">
                          <input type="number" class="form-control" placeholder="MM" name="">
                            <input type="number" class="form-control" placeholder="YY" name="">
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                          <input type="number" class="form-control" required="">
                      </div> 
                  </div>
              </div> 
              <button class="subscribe btn btn-primary btn-block" type="button"> Confirm  </button>
              </form>
            </div>  -->
            <!-- tab-pane.// -->
            <!-- <div class="tab-pane fade" id="nav-tab-paypal">
            <p>Paypal is easiest way to pay online</p>
            <p>
            <button type="button" class="btn btn-primary"> <i class="fab fa-paypal"></i> Log in my Paypal </button>
            </p>
            <p><strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. </p>
            </div> -->
           
            </div> <!-- tab-content .// -->
            
            </div> <!-- card-body.// -->
            </article> <!-- card.// -->
            
            
              </aside> <!-- col.// -->
    </div>
  </div>
</section>
