<style>
        .container .img{
    text-align:center;
}
.container .details{
    border-left:3px solid #ded4da;
}
.container .details p{
    font-size:15px;
    font-weight:bold;
}
</style>
      <div class="container" style="padding-top: 8rem; padding-bottom: 8rem"> 
          <section class="blog-post">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="post-content margin-bottom--big">
                        <h2>I want some help to settle down in Overseas</h2>
                        <p>Australia is one of the top immigration destination in the world. Australia is offering plentry of oppertunities for the new comers with skills.
                                Other tha  skilled migrations visa, student visa, 
                               Business visa holders can find good opportunites if you go to their with a good understing abount how to settle in the Australia.</p>
                      
                               <h3>How to find a House</h3>
                               <p>
                                    The first thing you need to do after going to Australia is finding a house for rent pr buying a house.
                                      Before finding a job in Australia it is hard thing is buy/rent a house because they have many requirements to fullfill. <br/>
                                      Even you are a good qualified, skilled  migrant, most of the time it can be difficult to find a good job releated to your area. 
                                      So what can you do for this ?
                               </p>
                               <h3>Finding a Vehicle and identify rules</h3>
                               <p>Most of the people who is lives their, need a vehicle. There are some sources you can find a vehicle accoring to the budget and preferances. 
                                    Most important this is need to know about rules while you are on the road. Other wise you have to pay more fines to the Government.
                                  </p>
                                  <h3>What I need to know about medical  </h3>
                                  <p>
                                        Another most valuable and needful area you need to know is medical system of the Australia. It is just not the way in Asian countries where we are following. 
                                        Some times you may know health care chargers are very expensive in Australia. It depends on the visa category what you have. 
                                        There is a procedures in health practice in Australia. 
                                  </p>
                                  <h3>How can I get support ? </h3>
                                  <p> If you want to know more about above areas in detail, we will like to help you without any hesitation.  
                                        First you can have a chance to contact sri lankan consultation via mentioned contacts and then you will be pointed to consultant who lives in Australia.
                                   </p>
                                   <div class="container">
                                        <div class="row">
                                          <div class="col-md-3 img">
                                            <img src="./assets/img/avator.png"  alt="" class="img-rounded">
                                          </div>
                                          <div class="col-md-6 details">
                                            <blockquote>
                                              <h5>Mr Nanadathissa</h5>
                                              <small><cite title="Source Title">Seeduwa, Sri Lanka  <i class="icon-map-marker"></i></cite></small>
                                            </blockquote>
                                            <p>
                                              khnandatissa1952@gmail.com <br>
                                              +94 762199100 <br>
                                              +94 716563010
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                      </div>
                    <!-- /.post-content-->
                  </div>
                </div>
              </div>
            </section>
         </div>
       
        
 

