<style>
  .card {
    margin-bottom: 15px;
}

.icon-action {
    margin-top: 5px;
    float: right;
    font-size: 80%;
}

.list-group-item .title {
    margin-top: 5px;
    margin-bottom: 12px;
    font-weight: 600;
}
.details li {
      list-style: none;
    }
    li {
        margin-bottom:10px;
        
    }

</style>
<section>
    <div class="container" style="padding-top: 8rem"> 
        <div class="row">
            <aside class="col-sm-10">
          
          <div class="list-group filter-wrap">
            <article class="list-group-item">
              <header class="filter-header">
                <a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" class="">
                  <i class="icon-action fa fa-chevron-down"></i>
                  <h6 class="title">I want some help to settle down in Australia</h6>
                </a>
              </header>
              <div class="filter-content collapse show" id="collapse1" style="">		
                  <div class="container">
                      <div id="accordion" class="accordion">
                          <p>Australia is one of the top immigration destination in the world. Australia is offering plentry of oppertunities for the new comers with skills. Other tha  skilled migrations visa, student visa, 
                              Business visa holders can find good opportunites if you go to their with a good understing abount how to settle in the Australia.</p>
                              <div class="row">
                                    <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                                        <div class="container">
                                          <h2>Call us</h2>
                                        </div>
                                        <ul class="container details" >
                                                <li><i class="fa fa-user" aria-hidden="true" style="width:50px;"></i>Amila Kudahewa</li>
                                            <li>
                                              <i class="fa fa-phone" aria-hidden="true" style="width:50px;"></i>
                                              +91 90000 00000</li>
                                            <li><i class="fa fa-envelope" aria-hidden="true" style="width:50px;"></i>
                                              akudahewa@email.com</li>
                                            
                                        </ul>
                                    </div>
                                </div>
                          <div class="card mb-0">
                              <div class="card-header collapsed" >
                                  <a class="card-title" data-toggle="collapse"  href="#collapseOne">
                                      How to find a House
                                  </a>
                              </div>
                              <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
                                  <p>
                                      The first thing you need to do after going to Australia is finding a house for rent pr buying a house.
                                      Before finding a job in Australia it is hard thing is buy/rent a house because they have many requirements to fullfill. <br/>
                                      
                                      Even you are a good qualified, skilled  migrant, most of the time it can be difficult to find a good job releated to your area. 
                                      So what can you do for this ?
                                  </p>
                              </div>
                              <div class="card-header collapsed"  data-parent="#accordion" >
                                  <a class="card-title" data-toggle="collapse" href="#collapseTwo">
                                    Finding a Vehicle and identify rules
                                  </a>
                              </div>
                              <div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
                                  <p>Most of the people who is lives their, need a vehicle. There are some sources you can find a vehicle accoring to the budget and preferances. 
                                      Most important this is need to know about rules while you are on the road. Other wise you have to pay more fines to the Government.
                                    </p>
                              </div>
                              <div class="card-header collapsed" >
                                  <a class="card-title" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    What I need to know about medical  
                                  </a>
                              </div>
                              <div id="collapseThree" class="collapse" data-parent="#accordion" >
                                  <div class="card-body"><p>Another most valuable and needful area you need to know is medical system of the Australia. It is just not the way in Asian countries where we are following. 
                                      Some times you may know health care chargers are very expensive in Australia. It depends on the visa category what you have. 
                                      There is a procedures in health practice in Australia. 
                                    </p>
                                  </div>
                              </div>
                              <div class="card-header collapsed" >
                                  <a class="card-title" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    How can I get support ? 
                                  </a>
                              </div>
                              <div id="collapseFour" class="collapse" data-parent="#accordion" >
                                  <div class="card-body">
                                      <p>
                                          If you want to know more about above areas in detail, we will like to help you without any hesitation.  
                                          First you can have a chance to contact sri lankan consultation via mentioned contacts and then you will be pointed to consultant who lives in Australia.
                                      </p>
                                          <div class="container">    
                                              <div>
                                                <div class="row">
                                                    <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                                                        <img src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png" alt="stack photo" class="img"/>
                                                    </div>
                                                    <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                                                        <div class="container">
                                                          <h2>Amila Kudahewa</h2>
                                                        </div>
                                                        <ul class="container details" >
                                                            <li>
                                                              <i class="fa fa-phone" aria-hidden="true" style="width:50px;"></i>
                                                              +91 90000 00000</li>
                                                            <li><i class="fa fa-envelope" aria-hidden="true" style="width:50px;"></i>
                                                              akudahewa@email.com</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                              </div>
                                        </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>	
                <!-- <form class="py-2">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                  </div>
                </div>
                </form> -->
                <!-- <aside class="col-sm-10">
          
                    <div class="list-group filter-wrap">
                      <article class="list-group-item">
                          <article class="list-group-item">
                              <header class="filter-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse2">
                                  <i class="icon-action fa fa-chevron-down"></i>
                                  <h6 class="title">I want some help to settle down in Israel</h6>
                                </a>
                              </header>
                              <div class="filter-content collapse" id="collapse2">
                                  <p>If you plan to go Australia, How you settle down soon after you go there. Need a house, vehicle,How other utilities can manage.
                                      If somebody can find a place to live before you be there,99 % of the headeche go way. We will help you to settle down there. </p>
                                      <p>Contact :0762199100</p>
                              </div>
                            </article>
                        </article>
                        </div>
                        </aside> -->

                 
                 
                  
                    
                   
                    

              </div> <!-- collapse -filter-content  .// -->
            </article>
            <article class="list-group-item">
              <header class="filter-header">
                <a href="#" data-toggle="collapse" data-target="#collapse2">
                  <i class="icon-action fa fa-chevron-down"></i>
                  <h6 class="title">I want some help to settle down in Israel</h6>
                </a>
              </header>
              <div class="filter-content collapse" id="collapse2">
                  <p>If you plan to go Australia, How you settle down soon after you go there. Need a house, vehicle,How other utilities can manage.
                      If somebody can find a place to live before you be there,99 % of the headeche go way. We will help you to settle down there. </p>
                      <p>Contact :0762199100</p>
              </div>
            </article>
            <article class="list-group-item">
              <header class="filter-header">
                <a href="#" data-toggle="collapse" data-target="#collapse3">
                  <i class="icon-action fa fa-chevron-down"></i>
                  <h6 class="title">I want some help to settle down in UK </h6>
                </a>
              </header>
              <div class="filter-content collapse" id="collapse3">
                  <p>If you plan to go Australia, How you settle down soon after you go there. Need a house, vehicle,How other utilities can manage.
                      If somebody can find a place to live before you be there,99 % of the headeche go way. We will help you to settle down there. </p>
                      <p>Contact :0762199100</p>
              </div>
            </article>
          </div> <!-- card.// -->
        </aside>
       </div>
       </div>
</section>
 

