
<style>
          .container .img{
      text-align:center;
  }
  .container .details{
      border-left:3px solid #ded4da;
  }
  .container .details p{
      font-size:15px;
      font-weight:bold;
  }
        </style>
        <div class="container" style="padding-top: 8rem; padding-bottom: 8rem"> 
            <section class="blog-post">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="post-content margin-bottom--big">
                          <h2>Major things to know when building a house a commercial </h2>
                          <p>Building a new home can be incredibly exciting. But many people find that they get so consumed by the design and project management aspects of their new home that crucial elements, 
                            such as its electrical requirements, can be overlooked. If you get these wrong, the consequences facing your home can range from mere
                             inconvenience, right through to major health and safety risks.</p>
                        
                        <ol>
                            <li> Plan the location of outlets</li>
                            <li>Understand the wiring system you’ll need</li>
                            <li> Know if you need extra power</li>
                            <li>Consider energy efficiency</li>
                            <li>Customisable lighting switches</li>
                          
                        </ol>

                        <h2>Contact EHand to meet field consultations</h2>
                        <div class="container">
                            <div class="row">
                              <div class="col-md-3 img">
                                <img src="./assets/img/avator.png"  alt="" class="img-rounded">
                              </div>
                              <div class="col-md-6 details">
                                <blockquote>
                                  <h5>Mr Nanadathissa</h5>
                                  <small><cite title="Source Title">Seeduwa, Sri Lanka  <i class="icon-map-marker"></i></cite></small>
                                </blockquote>
                                <p>
                                  khnandatissa1952@gmail.com <br>
                                  +94 762199100 <br>
                                  +94 716563010
                                </p>
                              </div>
                            </div>
                          </div>
                        
                       
                        </div>
                      <!-- /.post-content-->
                    </div>
                  </div>
                </div>
              </section>
           </div>
     
    
    
  