<style>
    .card {
      margin-bottom: 15px;
  }
  
  .icon-action {
      margin-top: 5px;
      float: right;
      font-size: 80%;
  }
  
  .list-group-item .title {
      margin-top: 5px;
      margin-bottom: 12px;
      font-weight: 600;
  }
  .details li {
      list-style: none;
    }
    li {
        margin-bottom:10px;
        
    }
  
  </style>
  <section>
      <div class="container" style="padding-top: 8rem"> 
          <div class="row">
              <aside class="col-sm-10">
            
            <div class="list-group filter-wrap">
              <article class="list-group-item">
                <header class="filter-header">
                  <a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" class="">
                    <i class="icon-action fa fa-chevron-down"></i>
                    <h6 class="title">I want to build my house with low cost</h6>
                  </a>
                </header>
                <div class="filter-content collapse show" id="collapse1" style="">			
                  
                  <p> Who ever plans to build a new house, you will think about the cost and the quality. If you are going to do with very low cost,some times 
                    the quality of the house may be not in the expected level. 
                    Lot of people while building their house, they got to know that cost is getting increase due to misunderstanding, some cost for other needs and lack of knowledge.
                    Best thing is before you start your dream, ask some help with the consultations.
                    Before you start,</p>
                    <ul>
                      <li> The size of the house</li>
                      <li>The fundamental design of the house</li>
                      <li> The type of materials used</li>
                      <li>construction cost.</li>
                    </ul>
                    <div class="container">    
                        <div>
                          <div class="row">
                              <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                                  <img src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png" alt="stack photo" class="img"/>
                              </div>
                              <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                                  <div class="container">
                                    <h2>Amila Kudahewa</h2>
                                  </div>
                                  <ul class="container details" >
                                      <li>
                                        <i class="fa fa-phone" aria-hidden="true" style="width:50px;"></i>
                                        +91 90000 00000</li>
                                      <li><i class="fa fa-envelope" aria-hidden="true" style="width:50px;"></i>
                                        akudahewa@email.com</li>
                                      <!-- <li><p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>Hyderabad</p></li> -->
                                  </ul>
                              </div>
                          </div>
                        </div>
                  </div>
                  
                  
                </div> <!-- collapse -filter-content  .// -->
              </article>
              <!-- <article class="list-group-item">
                <header class="filter-header">
                  <a href="#" data-toggle="collapse" data-target="#collapse2">
                    <i class="icon-action fa fa-chevron-down"></i>
                    <h6 class="title">I want to rebuild my house</h6>
                  </a>
                </header>
                <div class="filter-content collapse" id="collapse2">
                    <p>If you plan to go Australia, How you settle down soon after you go there. Need a house, vehicle,How other utilities can manage.
                        If somebody can find a place to live before you be there,99 % of the headeche go way. We will help you to settle down there. </p>
                        <p>Contact :0762199100</p>
                </div>
              </article>
              <article class="list-group-item">
                <header class="filter-header">
                  <a href="#" data-toggle="collapse" data-target="#collapse3">
                    <i class="icon-action fa fa-chevron-down"></i>
                    <h6 class="title">I want some help to settle down in UK </h6>
                  </a>
                </header>
                <div class="filter-content collapse" id="collapse3">
                    <p>If you plan to go Australia, How you settle down soon after you go there. Need a house, vehicle,How other utilities can manage.
                        If somebody can find a place to live before you be there,99 % of the headeche go way. We will help you to settle down there. </p>
                        <p>Contact :0762199100</p>
                </div>
              </article> -->
            </div> <!-- card.// -->
          </aside>
         </div>
         </div>
  </section>
   
  
  
